.design {
    padding: 2rem 5rem;
    text-align: center;
    &__picture {
        width: 60%;
    }

    &__description {
        transform: translateY(-10rem);
        margin-left: 2rem;
        font-size: 2.4rem;
        color: $color-secondary;
    }
}